# Binaries and build output
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Ignore compiled Go binaries
/jsonparser
/jsonparser.exe



# Environment variables
.env

# Go workspace files
/go.work
/go.work.sum

# Logs
*.log

# IDE/editor specific (optional but recommended)
.vscode/
.idea/
*.swp
*.swo
